.profile-container-main,
.user-followed-container,
.user-information-container,
.user-image-container,
.user-data-container {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.user-profile-window-container,
.following-users {
  width: 45vw;
}
.user-followed-container {
  flex-direction: row;
  flex-wrap: wrap;
}
.user-profile-window-container {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}
.following-users {
margin: auto 3rem 0 auto;
}
