.card {
  width: 50rem;
  margin: 1rem;
  display: block;
	overflow: hidden;
	background-color: var(--clr-primary-4);
  position: relative;
	border: 0.2px solid var(--clr-grey-1);
  -webkit-box-shadow: 5px 5px 0px 0px var(--clr-primary-1),
    10px 10px 0px 0px var(--clr-grey-1), 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px var(--clr-primary-1),
    10px 10px 0px 0px var(--clr-grey-1), 5px 5px 15px 5px rgba(0, 0, 0, 0);
		border-radius: 5px;
}
.card-container{
		margin: auto 1rem;
		max-height: 30rem;
}

.card:hover{
		border: 1px solid var(--clr-primary-1);
		border-radius: 5px;
}
.titles{
		display: flex;
		justify-content: space-between;
		margin:1rem ;
}
.text-description{
		display: flex;
		flex-wrap: wrap;
    width: 100%;
		color: var(--clr-primary-1);
}
.link-list-cards{
		height: 25rem;
		overflow: hidden;
		text-decoration: none;
}
.autor,
.Story,
.tags-Story,
.CreatedAt {
  color: var(--clr-primary-1);
  margin: 0;
  text-align: center;
  justify-content: center;
}

.Story{
		font-size: 1.4rem;
		text-transform: uppercase;
}
.footer-card-container{
		display: flex;
    justify-content: space-between;
		margin: 1rem;
}
/* .thumbnail { */
/*   height: 12rem; */
/*   width: auto; */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
/*   margin: auto; */
/* } */
.CreatedAt {
  margin: 0.2rem;
}
