.card {
		width: 8rem;
  margin:  0.5rem;
	display: block;
	position: relative;
	-webkit-box-shadow: 5px 5px 0px 0px var(--clr-primary-1), 10px 10px 0px 0px var(--clr-grey-1), 5px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 0px 0px var(--clr-primary-1), 10px 10px 0px 0px var(--clr-grey-1), 5px 5px 15px 5px rgba(0,0,0,0);
}

.autor,
.Story,
.CreatedAt {
  color: var(--clr-primary-1);
  margin: 0;
  text-align: center;
  justify-content: center;
}

.thumbnail {
  height: 12rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.CreatedAt {
		margin: 0.2rem;
}
