.card {
		width: 8rem;
  margin:  0.5rem;
	display: block;
	position: relative;
}

.autor,
.Story,
.CreatedAt {
  color: var(--clr-primary-1);
  margin: 0;
  text-align: center;
  justify-content: center;
}

.thumbnail {
  height: 12rem;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.CreatedAt {
		margin: 0.2rem;
}
