.Username,
.link-list,
.Menu {
  color: var(--clr-primary-3);
  text-decoration: none;
}
.link-list {
  display: flex;
}

.link-list,
.NavbarContainer,
.Photo,
.UserPhoto {
  align-items: center;
}

.NavbarContainerHide,
.NavbarContainer {
  width: 2.5rem;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: var(--clr-primary-1);
}
.NavbarContainer {
  width: 10rem;
  font-size: var(--media-title);
	}
.Loged,
.UnLoged {
  line-height: 1.4rem;

}

.responsive-navbar{
margin-left: -2.3rem;
}
.List {
  list-style: none;
}
.LinkContainer {
  margin: 0 1rem;
}

.Username {
  text-align: center;
  justify-content: center;
  margin: auto;
}

.Menu {
  background-color: var(--clr-primary-1);
  border: none;
  font-size: var(--menu-icon-size);
	margin-top: 1rem;
}
.Photo,
.UserPhoto {
  width: 4rem;
  height: 4rem;
  background-color: var(--clr-grey-1);
  justify-content: center;
  border-radius: 20px;
}
.UserPhoto {
  margin: 2rem auto;
}

.hide-text {
  display: none;
}
.big {
  font-size: var(--menu-icon-size);
  margin: 0.5rem 0 0.5rem -3rem;
}
.normal {
  margin: 0.5rem 0.5rem;
}

@media screen and (min-width: 800px) {
  .Photo,
  .UserPhoto {
    width: 5rem;
    height: 5rem;
  }
  .LinkContainer:hover {
    background-color: var(--clr-primary-2);
  }
  .big,
	.Menu{
    opacity: 0.6;
  }
  .big:hover,
	.Menu:hover{
    opacity: 1;
  }	

}
