:root {
  /* dark shades of primary color*/
  --clr-primary-1: #222;
  --clr-primary-2: #333;
  /* lighter shades of primary color */
  --clr-primary-3: #fff;
  --clr-grey-1: hsl(211, 27%, 70%);
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: #000;

	/* FONT-SIZE */ 
 
	--normal-name-section:1.5rem;
	--normal-title:1rem;
	--normal-description: 0.8rem;

	--media-name-section:1rem;
	--media-title:0.8rem;
	--media-description: 0.6rem;
  
	/* ICONS SIZE */

	--menu-icon-size:1.3rem;
	--text-icon-size:1rem;
 }
