body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  font-size: var(--media-name-section);
}

h2 {
  font-size: var(--media-title);
}
h3 {
  font-size: var(--media-description);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: var(--normal-name-section);
  }

  h2 {
    font-size: var(--normal-title);
  }
  h3 {
    font-size: var(--normal-description);
  }
  .user-profile-image {
    height: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--clr-primary-1);
  }
}
